<table>
  <%@keywords.each do |key|%>
    <tr>
      <td class="keyword_id"><%= key.id %></td>
      <td><span class="reading"><%= key.reading %></span> <span class="keyword"><%= key.keyword %></span> <span class="defintion"><%= key.definition.definition  %></span></td>
   </tr>
    <tr>
  <% unless key.definition.translation.to_s.strip.empty? %>
      <td class="keyword_id_fake1" ></td>
      <td class="translation"><%= key.definition.translation %></td>
  <% end %>
    </tr>
    <tr>
      <td class="keyword_id_fake2"></td>
      <td class="username"><%= key.definition.user ? key.definition.user.email : "Noch nicht bearbeitet." %></span><a class="edit" href="<%= url "/definition/#{key.definition.id}" %>">Edit</a><% unless key.definition.comments.empty? %><span style="color:red;"class="comment"><%= "#{key.definition.comments.count} Kommentar(e)" %></span></td><% else %></td><% end %>
    </tr>
  <% end %>
</table>
<%= @keywords.pager.to_html(url "/keyword") %>
